<h1 mat-dialog-title>Your Videos</h1>
<div mat-dialog-content>
  <div class="container">
    <video id='plyrID1' *ngIf="videoSrc" controls crossorigin playsinline >
      <!--<source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" type="video/mp4" size="576">-->
      <!--<source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-720p.mp4" type="video/mp4" size="720">-->
      <!--<source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-1080p.mp4" type="video/mp4" size="1080">-->

      <source [src]="videoSrc" type="video/mp4">


      <!-- Caption files -->
      <track kind="captions" label="English" srcvlang="en" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
             default>
      <track kind="captions" label="Français" srclang="fr" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.fr.vtt">
      <!-- Fallback for browsers that don't support the <video> element -->
      <a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" download>Download</a>
    </video>
  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCloseClick()" cdkFocusInitial>Close</button>
</mat-dialog-actions>

